body {
    font-family: Arial;
}

img {
    height: 165px;
    width: 300px;
}

.chartgrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p {
    padding: 10px;
}

#chart {
    border: 5px solid;
    margin: 5px;
}