body {
    font-family: Arial;
}

img {
    height: 165px;
    width: 300px;
}

.shapes {
  display: flex;
  justify-content: space-between;
}

.circle {
  fill: #b0a1c2;
}

.circle:hover {
  fill: #c2a2a1;
}

.rectangle {
  fill: #c2a2a1;
}

.rectangle:hover {
  fill: #b0a1c2;
}

.footer {
  text-align: center;
}

.acknowledgements {
  text-align: center;
  list-style-position: inside;
}

.chartgrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p {
    padding: 10px;
}

#chart {
    border: 5px solid;
    margin: 5px;
}
